<div class="admin-card">
  <div class="picture-area" style="background-image: linear-gradient(180.34deg, rgba(255, 255, 255, 0) 0.29%, rgba(57, 112, 147, 0.57) 41.71%), url( <%= image_url('gabin.jpeg') %>); background-size: cover">
    <div class="pic-text">
      <% if booking.user == current_user && current_user.admin %>
        <p class="name"><%= MOI %></p>
      <% end %>
      <p class="name"><%= booking.user.first_name.upcase %></p>
      <p class="lits"><%= booking.place %></p>
    </div>
  </div>
  <div class="card-text">
    <div class="admin-card-content">
      <div class="dates">
        <div class="date">
          <p>Du:</p>
          <p>booking.start_date</p>
        </div>
        <div class="date">
          <p>Au:</p>
          <p>booking.end_date</p>
        </div>
      </div>
    </div>
    <div class="btns-admin-card">
      <div class="btn-admin-card btn-accept">
        <% if policy(booking).choose_beds? %>
          <%= link_to "Accepter", choose_beds_path(booking) %>
        <% end %>
      </div>
      <div class="btn-admin-card btn-decline">
        <% if policy(booking).decline? %>
          <%= link_to "Refuser", decline_path(booking), method: :patch %>
        <% end %>
      </div>
    </div>
    <div class="message-admin-card">
      <% if booking.message == ""%>
        <p>You should always have something here</p>
      <% else %>
        <p><%= booking.message %></p>
      <% end %>
    </div>
  </div>
</div>
