<div class="admin-card">
  <div class="picture-area" style="background-image: linear-gradient(180.34deg, rgba(255, 255, 255, 0) 0.29%, rgba(57, 112, 147, 0.57) 41.71%), url(<%= image_url('gab.jpg') %>); background-size: cover">
    <div class="pic-text">
      <% if booking.user == current_user && current_user.admin %>
        <p class="name">MOI</p>
      <% else %>
        <p class="name"><%= booking.user.first_name.upcase %></p>
      <% end %>
    </div>
  </div> <!-- end picture area -->
  <div class="card-text">
    <div class="admin-card-content">
      <p><%= pluralize(booking.place, 'lit') %></p>
      <div class="dates">
        <div class="date">
          <p>Du:</p>
          <p id="jour"><%= I18n.l(booking.start_date, format: "%a %d %B", locale: :'fr')%></p>
        </div>
        <div class="date">
          <p>Au:</p>
          <p id="jour"><%= I18n.l(booking.end_date, format: "%a %d %B", locale: :'fr') %></p>
        </div>
      </div>
    </div> <!-- end admin-card-content -->
    <div class="btns-admin-card">
      <% if policy(booking).choose_beds? %>
        <div class="btn-card btn-accept">
          <%= link_to "Accepter", choose_beds_path(booking) %>
        </div>
      <% end %>
      <% if policy(booking).decline? %>
        <div class="btn-card btn-decline">
          <%= link_to "Refuser", decline_path(booking), method: :patch %>
        </div>
      <% end %>
    </div> <!-- end btns-admin-card -->
    <div class="message-admin-card">
      <% if booking.status == "accepted" %>
        <div class="lits">
          <% booking.beds.each do |bed| %>
            <div class="lit">
              <%= bed.name %>
            </div> <!-- end lit -->
          <% end %>
        </div> <!-- end lits -->
      <% else %>
        <% if booking.message == ""%>
          <p>Il n'y a pas de message</p>
        <% else %>
          <p><%= booking.message %></p>
        <% end %>
      <% end %>
    </div> <!-- end message-admin-card -->
  </div> <!-- end card-text -->
</div>
