<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8">
      <div class="form-post">
        <h1>Ta demande</h1>
        <%= simple_form_for [setters[:location], setters[:booking]] do |f| %>
          <!-- <div class='input-group date' id='flatpickr'> -->
            <%= f.input :start_date,
                        as: :string,
                        required: false %>
          <!-- </div> -->
          <%= f.input :end_date,
                      as: :string,
                      required: false %>
          <% location = setters[:location] ? setters[:location] : setters[:booking].location %>
          <%= f.input :place,
                      collection: 1..location.no_of_places,
                      required: false,
                      default: 1 %> <!-- make this a slider -->
          <%= f.input :message,
                      label: "Message (optionnel)",
                      placeholder: "Ici vont tes mots doux" %>
          <%= f.submit setters[:prompt], class: "home-btn btn" %>
        <% end %>
        <% if setters[:location] %>
          <%= link_to "Annuler", location_path(setters[:location]) %>
        <% else %>
          <%= link_to "Annuler", bookings_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>

