<form class="simple_form add_beds" id="add_beds_<%= @booking.id %>" novalidate="novalidate" action="/bookings/<%= @booking.id %>/add_beds" accept-charset="UTF-8" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-check">
    <% @booking.location.beds.each do |bed| %>
      <input type="checkbox" value="<%= bed.id %>" name="booking[bed_ids]ids[]" id="booking_bed_ids_<%= bed.id %>">
      <label for="booking_bed_ids_<%= bed.id %>">
        <%= bed.name %>
      </label>
    <% end %>
  </div>
  <input type="submit" class="btn btn-primary" data-disable-with="Save">
</form>
