<h1>Toutes tes resas</h1>
<ul>
  <% @bookings.each do |booking| %>
    <% if booking.user == current_user %>
      <li>
        <p><%= booking.id %> Une resa le <%= booking.start_date %></p>
        <%= link_to edit_booking_path(booking) do %>
          <i class="far fa-edit"></i>
        <% end %>
      </li>
    <% else %>
      <li>
        <p><%= booking.id %><%= booking.user.first_name %> a une resa le <%= booking.start_date %></p>
        <%= link_to edit_booking_path(booking) do %>
          <i class="far fa-edit"></i>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
