<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= yield(:navbar_class) %>">
  <% if user_signed_in? %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
        <%= link_to "Je peux venir?", "#", class: "dropdown-item" %>
        <%= link_to "Calendrier", "#", class: "dropdown-item" %>
        <%= link_to "Se Déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
  <% else %>
      <%= link_to "Se Connecter", new_user_session_path, class: "nav-link" %>
  <% end %>
  <% if @location %>
     <h2><%= @location.name %></h2>
  <% end %>
</div>
